asgiref
certifi
charset-normalizer
Django
gunicorn
idna
imageio
networkx
ninja
numpy
opencv-python
opencv-python-headless
packaging
Pillow
pyclipper
pytesseract
python-bidi
PyWavelets
PyYAML
reportlab
requests
scikit-image
scipy
shapely
six
sqlparse
tifffile
typing_extensions
tzdata
urllib3
whitenoise
