{% extends 'base/base.html' %}
{% block title %}Database{% endblock title %}
{% block content %}
	
		

		<div class="container">
			<br><br>
			{% if messages %}
	        	{% for message in messages %}
			        <div class="alert alert-warning alert-dismissible fade show" role="alert">
			          {{message}}
			          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			        </div>
			    {% endfor %}
			{% endif %}
			<h4><center>Database</center></h4>
			<div class="row">
				<div class="col-sm"><br><br>
					<h5>Registered Owners</h5>
					{% for indiv in indivs %}
						<a class="form-control" href="{% url 'update-vehicle-owner' indiv.pk %}">{{ indiv.registered_vehicle_owner }} | {{ indiv.registered_owner_id }}</a>
					{% endfor %}
				</div>
			    <div class="col-sm"><br><br>
			    	<h5>Registered Vehicles</h5>
			    	{% for vin in vins %}
						<a class='form-control' href="{% url 'update-vehicle' vin.pk %}"> {{ vin }} </a>
					{% endfor %}
			    </div>
			</div>			 
		</div>
	
{% endblock content %}