{% extends 'base/base.html' %}
{% block title %}Register Vehicle Owner{% endblock title %}
{% block content %}
	<div class="container">
		<br><br>
		{% if messages %}
        	{% for message in messages %}
		        <div class="alert alert-warning alert-dismissible fade show" role="alert">
		          {{message}}
		          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		        </div>
		    {% endfor %}
		{% endif %}
		<center><h4>Register Vehicle Owner</h4></center>
		<form action="" method="POST"> {% csrf_token %}
			{{form.as_table}}
			<input type="submit" class="form-control btn btn-secondary" name="">
		</form>
	</div>
{% endblock content %}