{% extends 'base/base.html' %}
{% block title %}VIN: {{vehicle.vin}}{% endblock title %}
{% block content %}
	<div class="container">
		<br><br><br>
		<center><h4>Vehicle Details and Registration</h4></center>
		
		<label for="city"> City: </label>
		<input id="city" class="form-control" type="text" value="{{vehicle.city_name}}" disabled>

		<label for="class"> Vehicle Classification: </label>
		<input id="class" class="form-control" type="text" value="{{vehicle.vehicle_classification}}" disabled>

		<label for="vin"> Vehicle Identification Number: </label>
		<input id="vin" class="form-control" type="text" value="{{vehicle.vin}}" disabled>

		<label for="cc"> Engine CC: </label>
		<input id="cc" class="form-control" type="text" value="{{vehicle.engine_cc}}" disabled>


		<label for="brand"> Vehicle Brand: </label>
		<input id="brand" class="form-control" type="text" value="{{vehicle.vehicle_brand}}" disabled>

		<label for="owner"> Registered to: </label>
		<input id="owner" class="form-control" type="text" value="{{vehicle.registered_owner_id}}" disabled>

		<strong>Current Ownership:</strong>
		<ul>
			<li>
				<div><b>Registered Owner</b>: <a href="{% url 'display-owner' vehicle.registered_owner_id.pk %}">{{vehicle.registered_owner_id.registered_vehicle_owner}}</a></div>
			</li>

			<li>
				<div><b>Registered Owner ID</b>: <a href="{% url 'display-owner' vehicle.registered_owner_id.pk %}">{{vehicle.registered_owner_id.registered_owner_id}}</a></div>
			</li>

			<li>
				<div><b>Registered Owner's Email Address</b>: {{vehicle.registered_owner_id.registered_owner_email}}</div>
			</li>

			<li>
				<div><b>Registered Owner Address</b>: {{vehicle.registered_owner_id.registered_owner_address}}</div>
			</li>

			<li>
				<div><b>Registered Owner DOB</b>: {{vehicle.registered_owner_id.registered_owner_dob}}</div>
			</li>

			<li>
				<div><b>Data Creation Date</b>: {{vehicle.registered_owner_id.registered_owner_data_create}}</div>
			</li>
		</ul>
		{% if felonys %}
			<br>
			<p>Felonies for {{vehicle.registered_owner_id.registered_vehicle_owner}}</p>
			{% for felony in felonys %}
				<a href="{% url 'report' felony.pk %}">{{felony.incident_title}}</a><br>
			{% endfor %}
		{% elif felonys == None %}
			<p>{{vehicle.registered_owner_id.registered_vehicle_owner}} has No Case(s)</p>
		{% endif %}
	</div>
{% endblock content %}