{% extends 'base/base.html' %}
{% block title %}Register Case{% endblock title %}
{% block content %}
	<div class="container">	
		<br><br>
		<center><h5>Register Incident for {{vehicle.registered_owner_id.registered_vehicle_owner}}</h5></center>
		<form action="" method="POST"> {% csrf_token %}
			{{form.incident_title}}

			<label>Select felony(s): Press CTRL while selecting</label>
			{{form.felony}}

			<select name='registered_owner_id' class="form-control">
				<option value="{{vehicle.registered_owner_id.registered_owner_id}}" selected>
					{{vehicle.registered_owner_id}}
				</option>
			</select>

			<select name='vin' class="form-control">
				<option value="{{vehicle.vin}}" selected>
					{{vehicle}}
				</option>
			</select>

			<select name='submitted_by' class="form-control">
				<option value="{{user.id}}" selected>
					{{user}}
				</option>
			</select>

			<input type="submit" class="form-control btn btn-secondary">
		</form>
	</div>
{% endblock content %}