{% extends 'base/base.html' %}
{% block title %}Update User{% endblock title %}
{% block content %}
	<div class="container">
		<br><br>
		{% for message in messages %}
      		<div class="alert alert-warning alert-dismissible fade show" role="alert">
        		{{message}}
        		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      		</div>
    	{% endfor %}
    	<center><h4>Update User</h4></center>
		<form action="" method="POST"> {% csrf_token %}
			{{form.as_table}} <br>
			<input class="btn btn-success" value="Update" type="submit">
			<a class='btn btn-danger' href="{% url 'delete-user' userid %}">Remove</a>
			<a class='btn btn-secondary' href="{% url 'manage-user-role' userid %}">Manage Roles</a>
		</form>
	</div>
{% endblock content %}